<%- include('partials/main.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-center my-2 text-white">
                <div class="card-body">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo modi officia vitae necessitatibus dicta amet cupiditate repudiandae corporis? Hic odio vitae perspiciatis similique accusamus incidunt labore doloribus reiciendis, ab saepe.</p>

                    <a class="btn btn-danger" href="/create-card">Create a new Coment</a>

                </div>
            </div>
        </div>
    </div>
</div>

<% for(var i = 0; i<coments.length; i++ ) {%>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h1><%= coments[i].author %></h1>
                        <h1><%= coments[i].title %></h1>
                        <p><%= coments[i].description %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% }%>