<%- include('partials/main.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-center my-2 text-white">
                <div class="card-body">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo modi officia vitae necessitatibus dicta amet cupiditate repudiandae corporis? Hic odio vitae perspiciatis similique accusamus incidunt labore doloribus reiciendis, ab saepe.</p>

                    <a class="btn btn-danger" href="/create-card">Create a new Coment</a>

                </div>
            </div>
        </div>
    </div>
</div>

<% for(var i = 0; i<coms.length; i++ ) {%>
    <h1><%= coms[i].title %></h1>
    <h3> <%= coms[i].description%> </h3>
    <p> <%= coms[i].author %> </p>
    <hr>
<% }%>