<%- include('partials/main') %>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card bg-dark text-light rounded">
                <div class="card-body">
                    <h1>Inemaps</h1>
                    <div class="row">
                        <div class="col-md-7">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni architecto omnis ratione ut fugiat excepturi, officia ea in voluptatibus, nobis quo alias! Perspiciatis ratione, voluptas deserunt magni corporis voluptatum odio?
                        </div>
                        <div class="col-md-5">
                            <img src="https://i.ytimg.com/vi/Oy7fS5eoXAw/maxresdefault.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Poronga</h1>

