<%- include('partials/main') %>

<!-- HADER -->
<header class="main-header">
    <div class="background-overlay text-white py-5">
      <div class="container">
        <div class="row d-flex h-100">
          <div class="col-sm-6 text-center justify-content-center align-self-center">
            <h1>
              Inemaps
            </h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum numquam voluptas ipsam fugiat. Accusantium in quaerat, totam eveniet incidunt est blanditiis architecto sunt aliquid nesciunt odit minus dolorum, consectetur id.</p>
            <a href="#" class="btn btn-secondary btn-outline-primary btn-lg text-white">
              Read More
            </a>
          </div>
          <div class="col-sm-6">
            <img src="https://gm1.ggpht.com/ZsePk43ZuDWgaL6ztJYzvW4gISvBv1edd6zneUobrA2i2dHReiWQ-OBR4RoNHqnfmEdz7uF-FKtKKSa_amcICemuL70R-MTXrxpPDVhKlXvMTQGpo7rpmZ3PA0HCQKvSWBqzIw-cJxhZNTdUmJdKCUVrv6o5WFej2lOB9VqI_6aBXvatnSNrIISqCM47BJSzzxIbYQBvDPU5kuRGnyHkQ5Dgh8xwiXz0Zw9nhut1rvyNa1oIF-RbMjVeu9AeC03IrKhgrC4rWu7NfRR2GLXsMDWzLjKwE2Fmw_eyccroH6VeCyt5S75shkzb21_19PywVJWA2D0BUt8ISg0OMxrTlgMAUp3ERTnijCBVMV8jIglr5zmGbflMNu2_RmM7XdgFbQ25Q3i0f01Vy9eV3sfMWEwset2ol44-eNXYuGdITUglnIfcfEo0VW7qrh_cl3H5rEVGCzuaU5UItQZMN-puUWludvF1fuspG5Or5iTMqUQbURLfSWrH5zObEbchIE7LQdLzv597U18BhXDWrSiF1KCCri1Z4bEuVBuB07abiI0PPv33ygxoIbmt2bANtF8tTSYdjMoJ7sy2YPHBF5cOhZWBeGSiDqltnppVH_3pangtOatEufQggZ-vGlzd-TXJxp546Lmk5ShSavzcSjtOUtC8lgSuj2NQXr7mCaX3-BFY_2WxOxJzHzFgtMPBA4K_YwfmXbS_3VWtduHs14zB710G3grPC4ZlRnnJj7za=s0-l75-ft-l75-ft" class="img-fluid d-none d-sm-block">
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- TEAM -->
  <section class="text-center team my-5 py-2" id="team">
    <div class="container p-5">
      <h1 class="text-center text-white">Team</h1>
      <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sunt fuga facere eius quas nisi aliquid eaque repudiandae quaerat maxime! Repellendus pariatur, adipisci sit voluptatibus corporis velit rem molestias alias aspernatur perferendis, maiores ut sequi beatae placeat libero in corrupti dolor officia quasi error. Sunt soluta ipsam tempora necessitatibus repudiandae veniam consectetur magnam autem alias architecto. Ex aperiam, quidem quibusdam quos maiores autem voluptatem sapiente nisi laborum ad nesciunt adipisci?
      </p>
      <div class="row">
        <!-- USER TEAM -->
        <div class="col-lg-3">
          <div class="card py-2">
            <div class="card-body">
              <img src="https://i.pinimg.com/474x/6f/f6/72/6ff672f724725fee932b177ba9edc8c4.jpg" class="img-fluid rounded-circle h-50">
              <h3>Dorko</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, et.
              </p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="p-4">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="p-4">
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- USER TEAM -->
        <div class="col-lg-3">
          <div class="card py-2">
            <div class="card-body">
              <img src="https://i.pinimg.com/736x/e1/92/93/e192937223b6bcba4516b1f74f0b9158.jpg" class="img-fluid rounded-circle h-50">
              <h3>Jara</h3>
              <p>
                No se que seria de Inemaps sin el gran precursor de esta idea.
              </p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href="https://github.com/JaraCalle"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="p-4">
                  <a href="https://twitter.com/NitoPlatanito"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/juan-jos%C3%A9-jara-calle-83b76a223/"><i class="fa-brands fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- USER TEAM -->
        <div class="col-lg-3">
          <div class="card py-2">
            <div class="card-body">
              <img src="https://i.pinimg.com/originals/80/b4/14/80b414315a1e5b8c500715179f327dac.png" class="img-fluid rounded-circle h-50">
              <h3>Tazana</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, et.
              </p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="p-4">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="p-4">
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

<link rel="stylesheet" href="index.css">