<%- include('partials/main') %>

<link rel="stylesheet" href="index.css">

<!-- HADER -->
<section class="background-description">
    <div class="container">
      <div class="description">
        <div class="description-text">
          <h1>
            Inemaps
          </h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum numquam voluptas ipsam fugiat. Accusantium in quaerat, totam eveniet incidunt est blanditiis architecto sunt aliquid nesciunt odit minus dolorum, consectetur id.</p>
        </div>
        <div class="description-logo">
          <img id="home-logo" src="https://i.postimg.cc/j5wK5dpr/unnamed.png">
        </div>
      </div>
    </div>
</section>

<!-- TEAM -->
  <section class="text-center team py-2 " id="team">
    <div class="p-5 ">
      <h1 class="text-center text-white ">Team</h1>
      <p class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus animi totam sit dolor ipsa tenetur facere alias vero magnam esse vel, mollitia eius harum odio voluptatum architecto quod dolorum tempore! Ut enim, earum reprehenderit asperiores, fuga debitis praesentium minima facilis quaerat modi veritatis? Deserunt maiores illo tenetur, maxime assumenda saepe?
      </p>
      <div class="row justify-content-center">
        <!-- USER TEAM -->
        <div class="col-lg-3">
          <div class="card py-2">
            <div class="card-body">
              <img src="https://i.pinimg.com/736x/e1/92/93/e192937223b6bcba4516b1f74f0b9158.jpg" class="img-fluid rounded-circle h-50">
              <h3>Jara</h3>
              <p>
                No se que seria de Inemaps sin el gran precursor de esta idea.
              </p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href="https://github.com/JaraCalle"><i class="fab fa-github"></i></a>
                </div>
                <div class="p-4">
                  <a href="https://twitter.com/NitoPlatanito"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="p-4">
                  <a href="https://www.linkedin.com/in/juan-jos%C3%A9-jara-calle-83b76a223/"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- USER TEAM -->
        <div class="col-lg-3">
          <div class="card py-2">
            <div class="card-body">
              <img src="https://i.pinimg.com/originals/80/b4/14/80b414315a1e5b8c500715179f327dac.png" class="img-fluid rounded-circle h-50">
              <h3>Tazana</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, et.
              </p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href="https://github.com/Tazana2"><i class="fab fa-github"></i></a>
                </div>
                <div class="p-4">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="p-4">
                  <a href="https://www.instagram.com/daniel_sntm/"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card py-2">
            <div class="card-body">
              <img src="https://pbs.twimg.com/media/EmweApaXcAEXLJ-.jpg" class="img-fluid rounded-circle h-50">
              <h3>Jimena</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, et. 
              </p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href="https://web.facebook.com/jimena.munoz.33"><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="p-4">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="p-4">
                  <a href="https://www.instagram.com/jimenagomezuwu/"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card py-2">
            <div class="card-body">
              <img src="https://i.pinimg.com/236x/dc/76/e4/dc76e4b426ca2ea8306119cd47d7b809.jpg?nii=t" class="img-fluid rounded-circle h-50">
              <h3>Larrrea</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, et. 
              </p>
              <div class="d-flex flex-row justify-content-center">
                <div class="p-4">
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                </div>
                <div class="p-4">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="p-4">
                  <a href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  
    <footer>
      <div class="copyright">
          <h2>Lorem ipsum dolor sit amet.</h2>
          <p>Copyright &copy; 2022</p>
      </div>       
    </footer>