<%- include('partials/main') %>

<link rel="stylesheet" href="index.css">

<!-- HADER -->
<section class="background-description">
    <div class="containermio">
      <div class="description">
        <div class="description-text">
          <h1>
            Inemaps
          </h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum numquam voluptas ipsam fugiat. Accusantium in quaerat, totam eveniet incidunt est blanditiis architecto sunt aliquid nesciunt odit minus dolorum, consectetur id.</p>
        </div>
        <div class="description-logo">
          <img id="home-logo" src="https://i.postimg.cc/j5wK5dpr/unnamed.png">
        </div>
      </div>
    </div>
</section>

<!-- TEAM -->
<section id="team">
  <h1>Team</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni ex voluptates perferendis, ullam cumque exercitationem, corrupti, minus id repudiandae praesentium fuga dolor ipsum rerum tenetur et reprehenderit! Expedita libero quae, cupiditate exercitationem dicta facilis, atque adipisci veniam repudiandae illo ipsum?</p>

  <div class="tarjeta-integrantes">
    <img src="https://www.vandelaydesign.com/wp-content/uploads/adidas-1.jpg" alt="">
  </div>
</section>
  
    <footer>
        <h4>Todos los derechos reservados.</h4>
        <p>Copyright &copy; 2022</p>
    </footer>