<%- include('partials/main') %>
<link rel="stylesheet" href="styles.css">

<div class="container py-2">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="card bg-dark text-white">
                <h1 class="card-header">Inemaps</h1>
                <div class="card-body">
                    <img src="https://i.ytimg.com/vi/Oy7fS5eoXAw/maxresdefault.jpg" class="img-fluid" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, expedita aut, iusto aperiam repellendus odio officiis eligendi ex perferendis quisquam explicabo ipsa quae maiores tempore. Corporis, eveniet. Eaque, voluptates! Nulla impedit perspiciatis asperiores incidunt sit recusandae cupiditate, et, unde modi facilis voluptates, aut nisi. Dolore eveniet maiores corrupti? Soluta, nihil.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Poronga</h1>

