.bloques-background {
    background-color: #181920;
}

.bloques-description {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.8% 5%;
    text-align: center;
}

.bloques-text {
    text-align: center;
    font-family: sans-serif;
}